
<%- contentFor('s1mple') %>
<section class="s1mple">
  <div class="s1mple-content">
    <div class="unset">
      <center><h1 class="title monospace">s1mple</h1>
        <center> <p class="undertitle monospace"><i class=""></i> Now made in Node.JS</p>
    </div>
  </section>
  <div class="buttons">
    <a href="s1mplicity" class="btn discord-dropshadow animation hover" target="_blank">s1mplicity</a>
    <a href="about" class="btn discord-dropshadow animation hover" target="_blank">About</a>
    <a href="https://github.com/s1mplicity/nodejs-website" class="btn discord-dropshadow animation hover" target="_blank">Github</a>  
  </center>
  </div>
</div>
</div>
</div>
</body>
</html>

