    <div class="center">
            <section class="me unset">
                <h1 class="title">
                    <center><h1 class="title monospace">s1mplicity V2</h1> 
                    <center> <p class="undertitle monospace"><i class=""></i> a easy to use discord bot for every server</p>
                </h1>
            </section>
        </div>
        <div class="buttons">
            <a class="btn discord-dropshadow animation hover" href="http://invite.runionvpn.xyz" target="_blank">Invite</a>
            <a class="btn discord-dropshadow animation hover" href="https://discord.gg/W2dkZS2" target="_blank">Discord</a>
            <a class="btn discord-dropshadow animation hover" href="https://top.gg/bot/692374466386460782/vote" target="_blank">Vote for me</a>
        </div>
    </div>
</section>
</body>
</html>
